<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="CloudUrl" value="https://app.p4warehouse.com/" />
    <add key="ApiKey" value="a7a0174f-6954-4adb-b16c-f417df3d0d52_w4ArHdzJXAspBZHFhDHH/4GJ3w7wfZcSHI3Dd2JBwuaLP42p4dPWOqGkOZEz3UEONl2PDOsTIMdNTDMbOsBPoQ==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>