<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="CloudUrl" value="https://app.p4warehouse.com/" />
    <add key="ApiKey" value="7da905be-f1da-4997-a1ef-2c7eb10fe5ac_Q10sOuLRMIvKcolWpBhh/6eunBXUih1SKzgrMDDMyApDLRS/sN13PHznF/MtwSYt+PE6vrRNW68YJz/QknjkhQ==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>